.account {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    color: $white;
    cursor: pointer;
    &-block {
        position: relative;
        &.active {
            .account-nav {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    &-nav {
        position: absolute;
        top: 115%;
        right: 0;
        background-color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.313rem;
        padding: 0.5rem 0;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-0.75rem);
        transition: all 0.2s $easing;
        h4 {
            padding: 0.375rem 1rem 0.75rem;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: $black 
        }
        li {
            position: relative;
            padding: 0.375rem 1rem;
            &:hover {
                a {
                    font-weight: 600;
                }
            }
            a {
                display: block;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: $black 
            }
        }
        &.sign-nav {
            li {
                padding: 0 1rem;
                &:first-child {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $black;
                    }
                }
            }
        }
    }
    .icon-user {
        font-size: 1.3rem;
        font-weight: 600;
        color: $black;
    }
}