.cart {
    position: relative;
    a {
        display: block;
        .icon-cart {
            font-size: 1.9rem;
        }
    }
    &-amount {
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 0;
        right: -0.375rem;
        font-family: $roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 0.6rem;
        line-height: 100%;
        letter-spacing: 0.05em;
        border-radius: 50%;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}