.navbar {
    &-top {
        position: relative;
        &.active {
            .navbar-menu {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 50;
                width: 100%;
                max-width: 31rem;
                background-color: $white;
                box-shadow: 0px 2px 10px rgba(20, 49, 78, 0.1);
                padding: 3rem 0;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: calc(100vw - 31rem);
                    height: 100%;
                    background-color: $gray;
                }
                li {
                    padding: 0 1.25rem;
                    &.active {
                        i {
                            transform: rotate(270deg) translateY(0.7rem);
                        }
                    }
                    a {
                        display: flex;
                        padding: 1.25rem 0.5rem;
                        width: 100%;
                        border-bottom: 1px solid $c-border;
                        font-weight: 600;
                        i {
                            margin-left: auto;
                            display: inline-block;
                            transform: rotate(90deg);
                            font-size: 0.875rem;
                            &::before {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
    &-logo {
        z-index: 50;
        @include l-block() {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
    &-menu {
        display: flex;
        z-index: 20;
        @include l-block() {
            display: none;
        }
        li {
            &.active {
                & > a {
                    &::before {
                        content: '';
                        width: 0.625rem;
                        height: 0.625rem;
                        position: absolute;
                        bottom: 0.85rem;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $gray;
                        border-radius: 50%;
                        opacity: 0.4;
                        @include l-block() {
                            display: none;
                        }
                    }
                }
                @include l-block() {
                    .sub-navbar-menu {
                        opacity: 1 !important;
                        height: auto !important;
                        overflow: visible !important;
                        padding: 1.5rem 0 !important;
                    } 
                }
            }
            a {
                padding: 0.375rem 1.25rem 2.5rem;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 1rem;
                line-height: 150%;
                color: $black;
                white-space: nowrap;
                transition: all 0.2s $easing;
                position: relative;
                &:hover {
                    & + .sub-navbar-menu {
                        height: auto;
                        opacity: 1;
                        overflow: visible;
                        padding: 2.75rem 0;
                        border-top: 1px solid $c-border;
                        z-index: 200;
                        @include l-block() {
                            height: 0;
                            opacity: 0;
                            overflow: hidden;
                            z-index: -5;
                            border: none;
                        }
                        .sub-navbar__item,
                        .brand-nav  {
                            opacity: 1;
                            overflow: visible;
                            height: auto;
                            transform: translateY(0);
                        }
                    }
                }
                i {
                    display: none;
                }
            }
        }
    }
    @import './sub-menu';
    @import './search';
    @import './account';
    @import './cart';
}