.navbar-search {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    .icon-search {
        box-shadow: 0px 2px 6px rgba(20, 49, 78, 0.15);
        border-radius: 50%;
    }
    &.show {
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 6rem;
        border-radius: 0;
        z-index: 25;
        @include sm-block() {
            min-height: 4.5rem;
            margin-left: 0 !important;
        }
        .form-control {
            display: block;
            width: 50%;
        }
        .icon-search {
            left: 25%;
            box-shadow: none;
            cursor: default;
        }
        .icon-close {
            display: block;
            @include l-block() {
                right: 3rem;
            }
            @include xs-block() {
                right: 1.5rem;
            }
        }
    }
    .form-control {
        display: none;
    }
    .icon-close {
        display: none;
        left: 100%;
        opacity: 0.8;
        @include l-block() {
            left: unset;
            right: 1.25rem;
        }
        &:hover {
            opacity: 1;
        }
    }
    i {
        font-size: 1.1rem;
    }
}