.sub-navbar-menu {
    width: 100%;
    background-color: $bg-gray;
    box-shadow: 0px 10px 12px rgba(0, 19, 48, 0.05);
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s $easing;
    @include l-block() {
        position: relative;
        top: inherit;
        left: inherit;
        border: none;
        background-color: $white;
        box-shadow: none;
    }
    &:hover {
        padding: 2.75rem 0;
        height: auto;
        opacity: 1;
        overflow: visible;
        border-top: 1px solid $c-border;
        z-index: 200;
        .sub-navbar__item,
        .brand-nav  {
            opacity: 1;
            overflow: visible;
            height: auto;
            transform: translateY(0);
            @include l-block() {
                height: 0;
                opacity: 0;
                overflow: hidden;
                z-index: -5;
            }
        }
    }
    &::before,
    &::after {
        content: '';
        width: 50%;
        height: calc(100% + 1px);
        border-top: 1px solid $c-border;
        background-color: $bg-gray;
        position: absolute;
        top: -1px;
        @include l-block() {
            display: none;
        }
    }
    &::before {
        right: 100%;
    }
    &::after {
        left: 100%;
    }
    &.active {
        padding: 1.5rem 0 !important;
    }
    .sub-navbar__item {
        min-width: 10rem;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.4s $easing;
        transform: translateY(-2rem);
        border-right: 1px solid $c-border;
        @include l-block() {
            opacity: 1;
            height: auto;
            overflow: visible;
            transform: translateY(0);
            border: none;
            min-width: 100%;
            padding-right: 0 !important;
        }
        h4 {
            font-family: $roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 125%;
            color: $black;
            margin-bottom: 1rem;
            white-space: nowrap;
            padding-left: 0.5rem;
        }
        li {
            @include l-block() {
                padding: 0;
                width: 100%;
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
            a {
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 0.875rem;
                line-height: 170%;
                letter-spacing: 0.03em;
                color: $black;
                padding: 0.35rem 0.5rem;
                display: block;
                @include l-block() {
                    border: none;
                }
                &:hover {
                    background-color: $bg-input;
                }
            }
        }
    }
    .brand-nav {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.4s $easing;
        transform: translateY(-2rem);
    }
}