<template>
  <div class="hidden lg:flex justify-between pl-12 w-full brand-nav">
      <router-link to="/women"
        class="section-item p-0 relative w-72 h-72 flex items-end justify-center"
      >
        <div class="section-item__gradient"></div>
        <div class="section-item__img absolute top-0 left-0">
          <img src="/img/banner/banner-4.png" alt="">
        </div>
        <div class="section-item__title relative">
          <h4 class="text-white text-2xl font-semibold">Nulla diam varius.</h4>
        </div>
      </router-link>
      <router-link to="/women"
        class="section-item p-0 relative w-72 h-72 flex items-end justify-center"
      >
        <div class="section-item__gradient"></div>
        <div class="section-item__img absolute top-0 left-0">
          <img src="/img/banner/banner-5.png" alt="">
        </div>
        <div class="section-item__title relative">
          <h4 class="text-white text-2xl font-semibold">Massa.</h4>
        </div>
      </router-link>
      <router-link to="/women"
        class="section-item p-0 relative w-72 h-72 flex items-end justify-center"
      >
        <div class="section-item__gradient"></div>
        <div class="section-item__img absolute top-0 left-0">
          <img src="/img/banner/banner-6.png" alt="">
        </div>
        <div class="section-item__title relative">
          <h4 class="text-white text-2xl font-semibold">Amet sed magna..</h4>
        </div>
      </router-link>
    </div>
</template>

<style scoped lang="scss">
@import '../../assets/styles/vars';
@import '../../assets/styles/mixins/mixins';

.section {
  &-item {
    &__gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000000 3.82%, rgba(0, 0, 0, 0) 50%);
      opacity: 0.6;
      z-index: 2;
    }
    &__title {
      padding-bottom: 2rem;
      z-index: 5;
    }
  }
}

</style>
