.btn {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0.313rem;
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 125%;
    letter-spacing: 0.02em;
    padding: 0.75rem 2.375rem;
    color: $white;
    display: inline-block;
    &-primary {
        background: $primary-gradient ;
    }
    &-accent {
        background: $accent-gradient;
    }
    &-gray {
        background: $gray-light;
    }
    &-small {
        padding: 0.125rem 1.5rem 0.125rem 0.625rem ;
        font-weight: 500;
        font-size: 1rem;
        line-height: 149%;
        letter-spacing: 0.03em;
        position: relative;
        box-shadow: none;
        i {
            font-size: 0.5rem;
            position: absolute;
            top: 50%;
            right: 0.625rem;
            transform: translateY(-50%);
        }
    }
    &:disabled {
        background-color: $disabled;
        color: $gray-light;
        box-shadow: none;
    }
}