.auth-block {
    height: calc(100vh - 6rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include sm-block() {
        height: 100%;
    }
    &__left {
        width: 50%;
        display: flex;
        justify-content: center;
        @include sm-block() {
            width: 100%;
        }
        .form {
            max-width: 21rem;
            width: 100%;
            h3 {
                font-family: $roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 1.375rem;
                line-height: 163.6%;
                color: $black;
            }
            &-control {
                position: relative;
                margin-bottom: 1.75rem;
                input[type=text],
                input[type=email],
                input[type=password] {
                    width: 100%;
                    border: 1px solid $c-border;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 0.75rem 1rem;
                    &:focus {
                        border: 1px solid $gray-light;
                        box-shadow: none;
                        & + label {
                            top: 0;
                            left: 0.5rem;
                            transform: translateY(-0.625rem);
                            background-color: $white;
                            padding: 0 0.5rem;
                        }
                    }
                }
                label {
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.75rem;
                    line-height: 163.6%;
                    letter-spacing: 0.03em;
                    color: $gray-light;
                    cursor: text;
                    transition: all 0.3s $easing;
                    &.active {
                        top: 0;
                        left: 0.5rem;
                        transform: translateY(-0.625rem);
                        background-color: $white;
                        padding: 0 0.5rem;
                    }
                }
                small {
                    position: absolute;
                    bottom: -1.25rem;
                    right: 0;
                    color: $primary;
                }
                &.invalid {
                    input[type=text],
                    input[type=email],
                    input[type=password] {
                        border: 1px solid $primary;
                    }
                }
            }
            .label-check,
            .forgot-pass,
            p {
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 0.85rem;
                line-height: 163.6%;
                letter-spacing: 0.04em;
                color: $gray-light;
                a {
                    text-decoration: underline;
                    color: $black;
                }
            }              
            .label-check {
                display: flex;
                align-items: center;
            }
            .forgot-pass {
                cursor: pointer;
            }
        }
    }
}