.footer {
    position: relative;
    &::before {
        content: '';
        width: 95%;
        height: 1px;
        background-color: $c-border;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include sm-block() {
            display: none;
        }
    }
    &-item {
        width: 20%;
        transition: all 0.3s $easing;
        @include m-block() {
            width: 100%;
        }
        @include sm-block() {
            padding-top: 1.5rem;
            border-bottom: 1px solid $c-border;
        }
        &.active {
            padding-bottom: 1.5rem;
            ul,
            .footer-item__block {
                height: auto;
                overflow: visible;
            }
            .icon-arrow {
                top: 20%;
                transform: rotate(270deg);
            }
        }
        &:first-child {
            width: 30%;
            @include m-block() {
                width: 100%;
            }
            @include sm-block() {
                border: none;
            }
        }
        &:last-child {
            width: 30%;
            max-width: 18.75rem;
            @include m-block() {
                max-width: 100%;
                width: 100%;
            }
        }
        h3 {
            font-family: $montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: $black;
            position: relative;
            .icon-arrow {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%) rotate(90deg);
                font-size: 0.875rem;
            }
        }
        p {
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 150%;
            color: $gray;
        }
        a {
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 150%;
            color: $gray;
        }
        ul {
            @include sm-block() {
                height: 0;
                overflow: hidden;
            }
            li {
                margin-top: 1rem;
                &:first-child {
                    margin-top: 0
                }
                a {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 150%;
                    color: $gray;
                    @include m-block() {
                        font-size: 0.875rem;
                    }
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
        i {
            font-size: 1.15rem;
            &::before {
                color: $gray-light;
            }
        }
        .btn-accent {
            i {
                &::before {
                    color: $white;
                }
            }
        }
        &__social {
            i {
                &::before {
                    color: $white;
                }
            }
        }
        &__logo {
            @include sm-block() {
                order: 1;
            }
            .logo {
                @include sm-block() {
                    position: absolute;
                    top: -3.5rem;
                    left: 0.75rem;
                }
            }
        }
        &__block {
            @include sm-block() {
                height: 0;
                overflow: hidden;
            }
        }
    }
}