<template>
  <div class="sidebar p-3">
    <div class="navbar-logo mt-4 ml-4 mb-10">
      <router-link
        tag="a"
        :to="{ name: 'AdminDashboard'}"
        class="logo w-32 block"
      >
        <img src="/img/logo.svg" alt="">
      </router-link>
    </div>
    <ul class="sidebar-nav">
      <li v-for="link in links"
        :key="link.name"
      >
        <router-link
          v-if="!link.children"
          class="flex"
          active-class="active"
          :to="{ name: link.name}"
          :custom="link.children"
          :exact="link.exact"
        >
          <i :class="`icon-${link.icon} pr-2`"></i> <span>{{ link.title }}</span>
        </router-link>
        <ul v-else>
          <li class="sidebar-nav__title flex" :class="{'open': isOpen}" @click="isOpen = !isOpen">
            <i :class="`icon-${link.icon} pr-2`"></i> <span>{{ link.title }}</span>
            <i class="icon-arrow"></i>
          </li>
          <li v-for="child in link.children"
            :key="child.name"
            class="pl-6"
          >
            <router-link
              class="flex"
              active-class="active"
              :to="{ name: child.name}"
              :exact="link.exact"
            >
              <span>{{ child.title }}</span>
            </router-link>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" @click.prevent="logout"><i class="icon-back"></i> <span>Log Out</span></a>
      </li>
    </ul>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { reactive, ref } from 'vue';

export default {
  name: 'AdminSideBarMenu',
  setup() {
    const store = useStore();
    const router = useRouter();
    const isOpen = ref(false);

    const links = reactive([
      {
        title: 'Dashboard', name: 'AdminDashboard', icon: 'home', exact: true,
      },
      {
        title: 'Products',
        icon: 'document',
        children: [
          { title: 'Products list', name: 'AdminProducts' },
          { title: 'Products add', name: 'AdminProductAdd' },
        ],
      },
      { title: 'Categories', name: 'AdminCategories', icon: 'category' },
      { title: 'Brands', name: 'AdminBrands', icon: 'paper' },
      { title: 'Orders', name: 'AdminOrders', icon: 'buy' },
    ]);

    const logout = () => {
      store.commit('auth/logout');
      router.push('/login');
    };

    return {
      links,
      logout,
      isOpen,
    };
  },
};
</script>
