<template>
  <nav class="navbar pt-0 rounded-lg">
    <div class="nav-wrapper flex items-center px-3 py-2">
      <a href="#" @click.prevent="$emit('clickBurger')">
        <i class="icon-burger"></i>
      </a>
      <div class="input-group mx-auto">
        <i class="icon-search left-3"></i>
        <input type="text" class="search pl-11" placeholder="Search">
      </div>
      <div class="profile flex items-center">
        <i class="icon-alarm"></i>
        <div class="profile-info ml-8">
          <p>{{user.firstName}} {{user.lastName}}</p>
          <small>Admin Profile</small>
        </div>
        <div class="profile-icon ml-6 p-3" :style="{backgroundColor: randomColor}">
          {{user.firstName[0]}}{{user.lastName[0]}}
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { useStore } from 'vuex';
import { computed } from 'vue';

export default {
  emits: ['clickBurger'],
  setup() {
    const store = useStore();

    const r = () => Math.floor(250 * Math.random());

    return {
      user: computed(() => store.getters['auth/user']),
      randomColor: computed(() => `rgba(${r()}, ${r()}, ${r()})`),
    };
  },
};
</script>
