@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k81f6h');
  src:  url('fonts/icomoon.eot?k81f6h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k81f6h') format('truetype'),
    url('fonts/icomoon.woff?k81f6h') format('woff'),
    url('fonts/icomoon.svg?k81f6h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e904";
}
.icon-trash:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e901";
}
.icon-danger-triangle:before {
  content: "\e905";
}
.icon-danger-square:before {
  content: "\e922";
}
.icon-send:before {
  content: "\e903";
}
.icon-document:before {
  content: "\e902";
}
.icon-paper:before {
  content: "\e909";
}
.icon-tick-square:before {
  content: "\e90b";
}
.icon-logout:before {
  content: "\e90c";
}
.icon-login:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-category:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-buy:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e913";
}
.icon-work:before {
  content: "\e918";
}
.icon-cart:before {
  content: "\e919";
}
.icon-chat:before {
  content: "\e91a";
}
.icon-alarm:before {
  content: "\e91b";
}
.icon-chart:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-setting:before {
  content: "\e91e";
}
.icon-calendar:before {
  content: "\e91f";
}
.icon-discount:before {
  content: "\e920";
}
.icon-user:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e916";
}
.icon-chevron:before {
  content: "\e914";
}
.icon-plus-circle:before {
  content: "\e911";
}
.icon-burger:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-arrow:before {
  content: "\e906";
  color: #fff;
}
.icon-upload:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
