.header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    &-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000000 29.26%, rgba(0, 0, 0, 0) 84.33%);
        opacity: 0.6;
        z-index: 0;
    }
    &-subtitle {
        background-color: $accent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        font-family: $roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 149%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white;
    }
    &-text {
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 170%;
        letter-spacing: 0.03em;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}