<template>
  <div class="cart relative ml-auto lg:ml-8">
    <router-link to="/cart">
      <i class="icon-cart"></i>
      <div class="cart-amount text-white bg-primary">12</div>
    </router-link>
  </div>
</template>
