<template>
  <div class="navbar-top" :class="{'active': activeBurger}">
    <div class="container">
      <nav class="navbar flex items-center py-4 md:py-7">
        <div class="navbar-burger lg:hidden block p-2 w-9" @click="activeBurger = !activeBurger">
          <i :class="[activeBurger ? 'icon-close burger' : 'icon-burger burger']"></i>
        </div>
        <div class="navbar-logo">
          <router-link
            tag="a"
            to="/"
            class="logo w-32 block"
          >
            <img src="/img/logo.svg" alt="">
          </router-link>
        </div>

        <NavBarMenu v-outside="clickOutside" />

        <div :class="{'show': showSearch}"
          class="input-group navbar-search flex items-center justify-center ml-4 lg:ml-auto"
        >
          <i class="icon-search p-2.5" @click="showSearch = true"></i>
          <i class="icon-close" @click="showSearch = false"></i>
          <input type="text" class="form-control pl-11" id="search" placeholder="Search">
        </div>

        <NavBarCart />

        <NavBarAccount
          :class="{'active': activeAccount}"
          v-outside="clickOutsideAccount"
          @clickAccount="clickAccount"
        />

      </nav>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import NavBarMenu from '@/components/navbar/NavBarMenu';
import NavBarCart from '@/components/navbar/NavBarCart';
import NavBarAccount from '@/components/navbar/NavBarAccount';

export default {
  name: 'Navbar',
  setup() {
    const showSearch = ref(false);
    const activeBurger = ref(false);
    const activeAccount = ref(false);

    return {
      showSearch,
      activeBurger,
      activeAccount,
      clickAccount() {
        activeAccount.value = !activeAccount.value;
      },
      clickOutsideAccount(event) {
        activeAccount.value = false;
      },
      clickOutside(event) {
        if (!(event.target.classList.contains('navbar-burger') || event.target.classList.contains('burger'))) {
          activeBurger.value = false;
        }
      },
    };
  },
  components: {
    NavBarMenu,
    NavBarAccount,
    NavBarCart,
  },
};
</script>
