<template>
  <ul class="navbar-menu ml-auto">
    <li v-for="link in links"
      :key="link.url"
      :class="{'active': activeLink?.url === link.url}"
      @mouseover="activeHover(link)"
      @mouseleave="activeLink = null"
    >
      <a href="#" class="flex lg:hidden" @click.prevent>{{link.title}}<i class="icon-arrow"></i></a>
      <router-link :to="link.url" class="hidden lg:inline">{{link.title}}</router-link>
      <div class="sub-navbar-menu flex" v-if="link.submenu.length">
        <ul class="sub-navbar__item pr-6">
          <h4 class="hidden lg:block">{{link.title}}</h4>
          <li v-for="sub in link.submenu"
            :key="sub.url"
          >
            <router-link :to="sub.url">{{sub.title}}</router-link>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script>
import { reactive, ref } from 'vue';

export default {
  name: 'NavBarMenu',
  setup() {
    const activeLink = ref(null);
    const links = reactive([
      {
        title: 'New Releases',
        url: '/releases',
        submenu: [
          { title: 'New For Men', url: '/new-men' },
          { title: 'New For Women', url: '/new-women' },
          { title: 'New For Kids', url: '/new-kids' },
        ],
      },
      {
        title: 'Men',
        url: '/men',
        submenu: [
          { title: 'Mens footwear', url: '/collections/mens-footwear' },
          { title: 'Mens appare', url: '/collections/mens-appare' },
          { title: 'Mens accessories', url: '/collections/mens-accessories' },
          { title: "Men's Sale", url: '/mens-sale' },
        ],
      },
      {
        title: 'Women',
        url: '/women',
        submenu: [
          { title: 'Womens footwear', url: '/collections/womens-footwear' },
          { title: 'Womens appare', url: '/collections/womens-appare' },
          { title: 'Womens accessories', url: '/collections/womens-accessories' },
          { title: "Women's Sale", url: '/womens-sale' },
        ],
      },
      {
        title: 'Kids',
        url: '/kids',
        submenu: [
          { title: 'Grade school', url: '/collections/grade-school' },
          { title: 'Pre-school', url: '/collections/pre-school' },
          { title: 'Infant toddler', url: '/collections/infant-toddler' },
          { title: "Kid's Sale", url: '/kids-sale' },
        ],
      },
      {
        title: 'Brands',
        url: '/brands',
        submenu: [
          { title: 'Nike', url: '/collections/nike' },
          { title: 'Jordan', url: '/collections/jordan' },
          { title: 'Adidas', url: '/collections/adidas' },
          { title: 'Puma', url: '/collections/puma' },
          { title: 'Converse', url: '/collections/converse' },
          { title: 'All brands', url: '/all-brands' },
        ],
      },
      {
        title: 'Sale',
        url: '/sale',
        submenu: [
          { title: "Men's Sale", url: '/mens-sale' },
          { title: "Women's Sale", url: '/womens-sale' },
          { title: "Kid's Sale", url: '/kids-sale' },
        ],
      },
    ]);

    return {
      links,
      activeLink,
      activeHover(link) {
        activeLink.value = link;
      },
    };
  },
};
</script>
