<template>
  <div class="account-block ml-8">
    <div class="account" :style="{backgroundColor: randomColor}" @click="$emit('clickAccount')">
      <div v-if="isAuth && user"
        class="account-name">{{ user.firstName[0] }}{{ user.lastName[0] }}
      </div>
      <i v-else class="icon-user"></i>
    </div>
    <ul class="account-nav w-48" v-if="isAuth">
      <h4>Account</h4>
      <li v-for="link in linksAccount"
        :key="link.url"
      >
        <router-link :to="link.url">{{link.title}}</router-link>
      </li>
      <li>
        <a href="#" class="text-primary" @click.prevent="logout">Log Out</a>
      </li>
    </ul>
    <ul class="account-nav sign-nav flex justify-between p-3" v-else>
      <li>
        <router-link to="/login" class="whitespace-nowrap">Sign in</router-link>
      </li>
      <li>
        <router-link to="/register" class="whitespace-nowrap">Sign up</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { reactive, computed } from 'vue';

export default {
  name: 'NavBarAccount',
  emits: ['clickAccount'],
  setup() {
    const store = useStore();
    const router = useRouter();
    const isAuth = computed(() => store.getters['auth/isAuthenticated']);

    const r = () => Math.floor(250 * Math.random());
    const randomColor = computed(() => (isAuth.value ? `rgba(${r()}, ${r()}, ${r()})` : ''));

    const linksAccount = reactive([
      { title: 'Profile', url: '/profile' },
      { title: 'Orders', url: '/orders' },
      { title: 'Settings', url: '/settings' },
    ]);

    const logout = () => {
      store.commit('auth/logout');
      router.push('/login');
    };

    return {
      randomColor,
      isAuth,
      user: computed(() => store.getters['auth/user']),
      logout,
      linksAccount,
    };
  },
};
</script>
