<template>
  <footer class="footer pt-20">
    <div class="container flex flex-wrap md:flex-nowrap pb-12">
      <div class="footer-item footer-item__logo pr-14">
        <div class="footer-logo mb-4">
          <router-link
            tag="a"
            to="/"
            class="logo w-32 block"
          >
            <img src="/img/logo.svg" alt="">
          </router-link>
        </div>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sapien ante nibh a sed faucibus eget dis.</p>
        <div class="footer-item__location flex items-center mb-4">
          <i class="icon-location"></i>
          <p class="ml-2.5">Sawojajar Malang, Indonesia</p>
        </div>
        <div class="footer-item__phone mb-4 flex items-center">
          <i class="icon-phone"></i>
          <a href="tel:+62894563455" class="ml-2.5">+6289 456 3455</a>
        </div>
      </div>
      <div class="footer-item" :class="{'active': activeClass === 'footer-menu'}">
        <h3 class="mb-6"
          @click="showMenu('menu')"
        >
          Menu<i class="icon-arrow inline-block md:hidden"></i>
        </h3>
        <ul>
          <li>
            <router-link to="/">About us</router-link>
          </li>
          <li>
            <router-link to="/">FAQ</router-link>
          </li>
          <li>
            <router-link to="/">Security</router-link>
          </li>
          <li>
            <router-link to="/">Terms &amp; Conditions</router-link>
          </li>
          <li>
            <router-link to="/">Privacy Policy</router-link>
          </li>
        </ul>
      </div>
      <div class="footer-item" :class="{'active': activeClass === 'footer-account'}">
        <h3 class="mb-6"
          @click="showMenu('account')"
        >
          Account<i class="icon-arrow inline-block md:hidden"></i>
        </h3>
        <ul>
          <li>
            <router-link to="/">My Account</router-link>
          </li>
          <li>
            <router-link to="/">Checkout</router-link>
          </li>
          <li>
            <router-link to="/">My Cart</router-link>
          </li>
          <li>
            <router-link to="/">My catalog</router-link>
          </li>
        </ul>
      </div>
      <div class="footer-item ml-0 md:ml-auto" :class="{'active': activeClass === 'footer-stay'}">
        <h3 class="mb-6"
          @click="showMenu('stay')"
        >
          Stay Updated<i class="icon-arrow inline-block md:hidden"></i>
        </h3>
        <div class="footer-item__block">
          <form class="flex">
            <div class="input-group w-full">
              <input type="text" class="form-control rounded-none" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn-accent ml-0.5 w-12 flex items-center justify-center">
              <i class="icon-send text-white"></i>
            </button>
          </form>
          <div class="footer-item__social mt-5 flex">
              <a href="#"
                class="w-8 h-8 bg-bg-facebook flex items-center justify-center rounded-full"
              >
                <i class="icon-facebook"></i>
              </a>
              <a href="#"
                class="w-8 h-8 mx-2.5 bg-bg-twitter flex items-center justify-center rounded-full"
              >
                <i class="icon-twitter"></i>
              </a>
              <a href="#"
                class="w-8 h-8 bg-bg-instagram flex items-center justify-center rounded-full"
              >
                <i class="icon-instagram"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-bg-gray text-gray text-center py-4">
      <p class="text-sm">Copyright, &copy; Crunch — 2021. All rights reserved.</p>
    </div>
  </footer>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'Footer',
  setup() {
    const activeMenu = ref(false);
    const activeClass = ref('');

    return {
      activeMenu,
      activeClass,
      showMenu(menu) {
        activeClass.value = activeClass.value !== `footer-${menu}` ? `footer-${menu}` : '';
      },
    };
  },
};
</script>
