.input-group {
    position: relative;
    .form {
        &-control {
            width: 100%;
            background-color: $bg-input;
            border-radius: 5px;
            padding: 0.625rem 0.75rem;
            font-family: $montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 150%;
            letter-spacing: -0.01em;
            &::placeholder {
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 0.875rem;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: $gray;
            }
        }
    }
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

  
input[type=checkbox] {
  display: none;
  &:checked {
    & + label:before {
      background-color: $accent;
      border-color: $accent;
      color: $white;
    }
  }
  & + label {
    display: block;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      border: 0.1rem solid $c-border;
      border-radius: 0.2rem;
      width: 1.32rem;
      height: 1.3rem;
      transition: .2s;
      margin-right: 0.75rem;
      box-sizing: border-box;
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      top: 35%;
      left: 3px;
      height: 0.75rem;
      width: 0.375rem;
      border-bottom: 3px solid $white;
      border-right: 3px solid $white;
      transform: rotate(45deg) translateY(-50%);
    }
    &:active::before {
      transform: scale(0);
    }
  }
}