body {
  position: relative;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: $black;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}
.container {
  position: relative;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  @include l-block() {
    max-width: 100%;
    padding: 0 1.25rem;
  }
  @include sm-block() {
    padding: 0 0.9rem;
  }
}
h1 {
  font-family: $montserrat;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 3.375rem !important;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include sm-block() {
    font-size: 2.5rem !important;
    max-width: 28rem;
  }
}
h2 {
  font-family: $roboto;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 1.125rem !important;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
}
.btn-primary:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #F84633;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
.btn-accent:hover {
  background-color: #FFB816;
}