* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $gray-light;
    }
}
  
  
a {
    color: $black;
    transition: color .35s $easing;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}
  
li:focus {
    outline: none;
}
  
img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    display: inline-block;
    border: none !important;
    border-style: none !important;
    outline: none !important;
}
  
ul {
    margin-bottom: 0;
}
  
p {
    margin: 0;
    font-family: $roboto;;
}
  
*:focus {
    outline: 0;
    outline-offset: 0;
}

  