//Font
$roboto                : 'Roboto', sans-serif;
$montserrat            : 'Montserrat', sans-serif;

//Main color
$primary               : #EE3C29;
$primary-gradient      : linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #EE3C29;
$accent                : #FEA402;
$accent-gradient       : linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #FEA402;
$black                 : #333333;
$white                 : #FFFFFF;
$gray                  : #616161;
$gray-light            : #777777;
$c-border              : #D8D8D8;
$bg-input              : #F0F2F7;
$bg-gray               : #F7F7F7;
$bg-gray-light         : #F0F3F5;
$bg-facebook           : #3B5998;
$bg-twitter            : #55ACEE;
$bg-instagram          : #3A3A3A;
$disabled              : #F4F5F7;

//Admin
$admin-text            : #636E72;
$admin-black           : #130F26;
$admin-active          : #0010F7;
$admin-active-bg       : #EBFAFA;


$easing: cubic-bezier(0.2, 0.1, 0.2, 1);