<template>
  <div class="auth-block">
    <div class="auth-block__left my-28 md:my-0">
      <form class="form ml-0 lg:ml-12" @submit.prevent="onSubmit" autocomplete="off">
        <h3 class="pb-7">Sign in</h3>
        <div :class="['form-control']">
          <input type="email" id="email" class="form-input" v-model="email">
          <label for="email" :class="{'active': email && email !== ''}">Email address</label>
        </div>

        <div :class="['form-control']">
          <input type="password"
            id="password"
            class="form-input"
            autocomplete="new-password"
            v-model="password"
          >
          <label for="password" :class="{'active': password && password !== ''}">Password</label>
        </div>

        <div class="block-check flex items-center pb-7">
          <div class="flex items-center">
            <input type="checkbox" id="remember" class="input-check" v-model="remember">
            <label for="remember" class="label-check">Keep me signed in</label>
          </div>
          <router-link to="/reset" class="forgot-pass ml-auto">Forgot password?</router-link>
        </div>

        <button type="submit" class="w-full btn btn-primary">Sign in</button>
        <p class="mt-6 text-center">
          Not a member? <router-link to="/register">Join Us</router-link>
        </p>
      </form>
    </div>
    <div
      class="auth-block__right bg-accent w-full md:w-2/4 h-auto md:h-full py-24 md:py-0
        flex items-center justify-center"
    >
      <div class="auth-logo h-16">
        <img src="/img/logo-white.svg" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { watch, reactive, onMounted } from 'vue';
import { useLoginForm } from '@/use/login-form';
import { error } from '@/utils/error';

export default {
  setup() {
    const route = useRoute();
    const store = useStore();
    const state = reactive(route);

    const setMessage = (r) => {
      if (r.query.message) {
        store.commit('setMessage', {
          value: error(route.query.message),
          type: 'warning',
        });
      }
    };

    watch(state, setMessage);

    setMessage(route);

    onMounted(() => store.commit('auth/logout'));

    return { ...useLoginForm() };
  },
};
</script>
