<template>
  <div class="auth-block">
    <div class="auth-block__left my-28 md:my-0">
      <form class="form ml-0 lg:ml-12" @submit.prevent="onSubmit" autocomplete="off">
        <h3 class="pb-7">Sign up</h3>
        <div :class="['form-control']">
          <input type="text" id="firstName" class="form-input" v-model="firstName">
          <label for="firstName"
            :class="{'active': firstName && firstName !== ''}"
          >First Name</label>
        </div>
        <div :class="['form-control']">
          <input type="text" id="lastName" class="form-input" v-model="lastName">
          <label for="lastName" :class="{'active': lastName && lastName !== ''}">Last Name</label>
        </div>
        <div :class="['form-control']">
          <input type="email" id="email" class="form-input" v-model="email">
          <label for="email" :class="{'active': email && email !== ''}">Email address</label>
        </div>

        <div :class="['form-control']">
          <input type="password"
            id="password"
            class="form-input"
            autocomplete="new-password"
            v-model="password"
          >
          <label for="password" :class="{'active': password && password !== ''}">Password</label>
        </div>

        <button type="submit" class="w-full btn btn-primary">Sign up</button>
        <p class="mt-6 text-center">
          Already a member? <router-link to="/login">Sign in</router-link>
        </p>
      </form>
    </div>
    <div class="auth-block__right bg-accent w-full md:w-2/4 h-auto md:h-full
      py-24 md:py-0 flex items-center justify-center">
      <div class="auth-logo h-16">
        <img src="/img/logo-white.svg" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { watch, reactive, onMounted } from 'vue';
import { useLoginForm } from '@/use/register-form';
import { error } from '@/utils/error';

export default {
  setup() {
    const route = useRoute();
    const store = useStore();
    const state = reactive(route);

    const setMessage = (r) => {
      if (r.query.message) {
        store.commit('setMessage', {
          value: error(route.query.message),
          type: 'warning',
        });
      }
    };

    watch(state, setMessage);

    setMessage(route);

    onMounted(() => store.commit('auth/logout'));

    return { ...useLoginForm() };
  },
};
</script>
