<template>
  <div class="auth-block">
    <div class="auth-block__left my-28 md:my-0">
      <form class="form ml-0 lg:ml-12" @submit.prevent="onSubmit" autocomplete="off">
        <h3 class="pb-6">Reset password</h3>
        <p class="mb-7 text-gray-light text-sm font-roboto">
          Enter your email to receive instructions on how to reset your password.
        </p>
        <div :class="['form-control']">
          <input type="email" id="email" class="form-input" v-model="email">
          <label for="email" :class="{'active': email && email !== ''}">Email address</label>
        </div>
        <button type="submit" class="w-full btn btn-primary">Reset</button>
      </form>
    </div>
    <div class="auth-block__right bg-accent w-full md:w-2/4 h-auto
      md:h-full py-24 md:py-0 flex items-center justify-center">
      <div class="auth-logo h-16">
        <img src="/img/logo-white.svg" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { watch, reactive } from 'vue';
import { useLoginForm } from '@/use/login-form';
import { error } from '@/utils/error';

export default {
  setup() {
    const route = useRoute();
    const store = useStore();
    const state = reactive(route);

    const setMessage = (r) => {
      if (r.query.message) {
        store.commit('setMessage', {
          value: error(route.query.message),
          type: 'warning',
        });
      }
    };

    watch(state, setMessage);

    setMessage(route);

    return { ...useLoginForm() };
  },
};
</script>
