<template>
  <AppModal :title="title" @close="$emit('reject')">
    <div class="modal-wrapper flex my-2">
      <button class="btn btn-accent ml-auto text-sm py-2 px-6" @click="$emit('reject')">No</button>
      <button class="btn btn-primary ml-4 text-sm py-2 px-6" @click="$emit('confirm')">Yes</button>
    </div>
  </AppModal>
</template>

<script>
import AppModal from './AppModal';

export default {
  emits: ['confirm', 'reject'],
  props: ['title'],
  components: { AppModal },
};
</script>
