<template>
  <div class="loader flex items-center justify-center">
    <div class="loader-body">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>
    </div>
  </div>
</template>
