<template>
  <div class="modal-backdrop" @click="$emit('close')"></div>
  <div class="modal">
    <div class="modal-header flex items-center">
      <h3 v-if="title">{{ title }}</h3>
      <i class="icon-close cursor-pointer ml-auto" @click="$emit('close')"></i>
    </div>

    <slot />

  </div>
</template>

<script>
export default {
  emits: ['close', 'save'],
  props: {
    title: {
      type: String,
    },
  },
};
</script>
