<template>
  <ul class="pagination my-10 flex items-center justify-center" v-if="totalPages > 1">
    <li class="pagination-item mr-4">
      <button
        @click.prevent="$emit('update:modelValue', modelValue - 1)"
        :disabled="modelValue === 1"
      >
        <i class="icon-arrow inline-block transform rotate-180 p-2"></i>
      </button>
    </li>
    <li class="pagination-item"
      v-for="page in pagesPagination"
      :key="page"
    >
      <span class="w-8 h-8" v-if="page === '...'">{{page}}</span>
      <button
        v-else
        :class="['w-8 h-8', {active: modelValue === page}]"
        @click.prevent="$emit('update:modelValue', page)"
      >{{page}}</button>
    </li>
    <li class="pagination-item ml-4">
      <button
        @click.prevent="$emit('update:modelValue', modelValue + 1)"
        :disabled="modelValue === totalPages"
      >
        <i class="icon-arrow inline-block p-2"></i>
      </button>
    </li>
  </ul>
</template>

<script>
import { computed, ref } from 'vue';

export default {
  props: ['modelValue', 'count', 'size'],
  emits: ['update:modelValue'],
  setup(props) {
    const totalPages = ref(Math.ceil(props.count / props.size));

    const pagesPagination = computed(() => {
      if (totalPages.value > 5) {
        if (props.modelValue <= 3) {
          return [1, 2, 3, 4, '...', totalPages.value];
        }
        if (props.modelValue >= totalPages.value - 2) {
          return [1, '...', totalPages.value - 3, totalPages.value - 2, totalPages.value - 1, totalPages.value];
        }
        return [1, '...', props.modelValue - 1, props.modelValue, props.modelValue + 1, '...', totalPages.value];
      }

      return totalPages.value;
    });

    return {
      totalPages,
      pagesPagination,
    };
  },
};
</script>
