<template>
  <div class="page mt-8">
    <div class="page-title flex items-center">
      <h2 v-once>{{title}}</h2>
      <slot name="header" />
    </div>

    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    back: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
