<template>
  <div
    v-outside="clickOutside"
    class="select"
  >
    <div class="select-val">
      <input
        :id="id"
        class="form-input"
        type="text"
        autocomplete="nofill"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        @focus="selectShow = true"
      >
      <label
        :for="id"
        :class="{'active': modelValue && modelValue !== ''}"
      >{{ label }}</label>
      <i
        v-if="modelValue !== ''"
        class="icon-close"
        @click="$emit('update:modelValue', '')"
      ></i>
      <i
        v-else
        class="icon-arrow"
        :class="{'open': selectShow}"
      ></i>
      <small v-if="error && error !== ''">{{ error }}</small>
    </div>
    <div
      v-show="selectShow"
      class="select-options w-full"
    >
      <template v-if="filteredOptions.length">
        <div
          v-for="option in filteredOptions"
          :key="option._id"
          class="select-option"
          @click="clickSelect(option)"
        >
          {{ option.name }}
        </div>
      </template>
      <template v-else>
        <div class="select-option text-center">Empty</div>
      </template>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue';

export default {
  name: 'Select',
  emits: ['update:modelValue', 'update'],
  props: {
    modelValue: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
    id: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    error: {
      type: String,
    },
  },
  setup(props, { emit }) {
    const selectShow = ref(false);

    const filteredOptions = computed(() => props.options
      .filter((option) => option.name.toLowerCase()
        .includes(props.modelValue.toLowerCase())));

    return {
      selectShow,
      filteredOptions,
      clickSelect(option) {
        emit('update', option);
        selectShow.value = false;
      },
      clickOutside() {
        selectShow.value = false;
      },
    };
  },
};
</script>
