<template>
  <div class="admin flex">
    <the-admin-sidebar :class="{'not-open': !isOpen}" />
    <div class="admin-wrapper p-3" :class="{'w-full': !isOpen}">
      <the-admin-navbar @clickBurger="isOpen = !isOpen" />
      <app-message />
      <router-view />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import TheAdminSidebar from '@/components/admin/TheAdminSidebar';
import TheAdminNavbar from '@/components/admin/TheAdminNavbar';
import AppMessage from '@/components/ui/AppMessage';

export default {
  components: {
    TheAdminSidebar,
    TheAdminNavbar,
    AppMessage,
  },
  setup() {
    const isOpen = ref(true);

    return {
      isOpen,
    };
  },
};
</script>
