<template>
  <Navbar />
  <router-view />
  <the-footer></the-footer>
</template>

<script>
import Navbar from '@/components/navbar/Navbar';
import TheFooter from '@/components/TheFooter';

export default {
  components: {
    Navbar,
    TheFooter,
  },
};

</script>
